*test
.gdb_history

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
helloc
*.exe
*.out
*.app

*~
*cscope*
*.txt
notes
helloc
palindrome_test
kernel-doubly-linked-macros
kernel-doubly-linked-macros-valgrind
reverse-list_test
reverse-list-valgrind
matrix-determinant
matrix-determinant_test
cdecl
cdecl-valgrind
cdecl_test
